.container {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 40%;
    display: flex;
    justify-content: center;
}

.profile h1 {
    text-align: center;

}

.profile-img {
    width: 10vw;
    height: auto;
}

.logout-btn {
    background-color: rgb(204, 23, 23);
    border-radius: 5px;
    font-weight: bold;
}

.logout-btn:hover {
    background-color: rgb(126, 17, 17);
    border-radius: 5px;
    cursor: pointer;
}